<section class="tweeters">
  {{#each tweeters}}
    <article class="tweeter__profile">
      <section class="tweeter__profile-pic">
        <a href="{{this.twitter_page}}">
          <img src="{{this.twitter_pic}}" alt="{{this.handle}}">
        </a>
      </section>
      <section class="tweeter__profile-info">
        <section class="tweeter__profile-name">
          <a href="{{this.twitter_page}}">@{{this.handle}}</a>
        </section>
        <section class="tweeter__profile-stats">
          <section class="tweeter_profile-stat">
            <h4 class="tweeter_profile-stat-key">Tweets</h4><h4 class="tweeter_profile-stat-value">{{formatNumber this.twitter_count}}</h4>
          </section>
          <section class="tweeter_profile-stat">
            <h4 class="tweeter_profile-stat-key">Follows</h4><h4 class="tweeter_profile-stat-value">{{formatNumber this.twitter_followers}}</h4>
          </section>
          <section class="tweeter_profile-stat">
            <h4 class="tweeter_profile-stat-key">Friends</h4><h4 class="tweeter_profile-stat-value">{{formatNumber this.twitter_friends}}</h4>
          </section>
        </section>
      </section>
      <p class="tweeter__profile-description">
        {{this.twitter_description}}
      </p>
    </article>
  {{/each}}
</section>
