<section class="tweeters">
  {{#each tweeters}}
    <article class="tweeter__profile">
      <section class="tweeter__profile-pic">
        <a href="{{this.twitter_page}}">
          <img src="{{this.twitter_pic}}" alt="{{this.handle}}">
        </a>
      </section>
      <section class="tweeter__profile-info">
        <section class="tweeter__profile-name">
          <a href="#">{{this.name}}</a> / <a href="{{this.twitter_page}}">@{{this.handle}}</a>
        </section>
        <section class="tweeter__profile-stats">
          <h4>{{this.twitter_count}} Tweets</h4>
          <h4>{{this.twitter_followers}} Followers</h4>
          <h4>{{this.twitter_friends}} Friends</h4>
        </section>
      </section>
      <p class="tweeter__profile-description">
        {{this.twitter_description}}
      </p>
    </article>
  {{/each}}
</section>
