<article class="tweet-timeline" data-barba="container" data-barba-namespace="tweets">
  <article class="hashtags">
    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#html</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#css</section>
    </section>

    <!-- 2 -->

    <section class="hashtag__row">
      <section class="hashtag__cell">#javascript</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#ui</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 3 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#frontend</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 4 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 5 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#angular</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#react</section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 6 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 7 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#javascript</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 8 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#gatsby</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#node</section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 9 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#ux</section>
    </section>

    <!-- 10 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#css</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 11 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#react</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>

    <!-- 12 -->

    <section class="hashtag__row">
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell">#performance</section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
      <section class="hashtag__cell"></section>
    </section>
  </article>

  <article class="messages">
    {{#each tweets}}
    <section class="tweet">
      <section class="tweet__wrapper">
      </section>
      <section class="tweet__container">
        <!-- <time class="tweet__time">
          <span class="tweet__time-text">{{formatDate this.created}}</span>
        </time> -->
        <a href="{{this.link}}" class="tweet__message">
          <q cite="">{{this.message}}</q>
        </a>
        <cite class="tweet__handle">
          <a class="tweet__handle-link" href="{{this.site}}">
            <span class="tweet__handle-link-text">&ndash; {{this.handle}}</span>
          </a>
        </cite>
      </section>
    </section>
    {{/each}}
  </article>
</article>
